  .game-board {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 500px;
    width: 500px;
    background-color: black;
    background-image: url(./BG.jpg);
  }

  .cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: wheat;

  
  }
  .message {
    
    margin-top: 20px;
  }